/* * {
  margin: 0;
  padding: 0;
} */
body {
}
header {
}
p {
}
strong {
}
em {
}
nav {
  display: grid;
  place-items: end;
}
ul {
}
li {
}
a {
}
button {
}
h1 {
}
h2 {
}
h3 {
}
footer {
}

/* .............CLASSES..............*/

/* General-Rullings Section */
.container {
  background-color: aliceblue;
}

/* HEADER SECTION */

.wrapper-header {
  display: grid;
  grid-template-rows: 200px 1fr
  grid-template-columns:200px 1fr;
  gap:5px;
}

.header-layout {
}

.nest {
  /* border: solid green 2px;
  padding: 10px; */
}
.text-header {
  /* background-color: aqua; */
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
}
.nav-content {
  /* background-color: cornflowerblue; */
  display: grid;
  grid-template-columns: 100px auto;
  gap: 5px;
}
.my-name {
}

/* ABOUT ME SECTION */
.about-sec {
}
.list-section {
}
.list-row {
}

/* PORTFOLIO */

.portfolio {
}
.card {
}
.cards-title {
}

/* EXPERIAECE SECTION */

.experience {
}
.job-title {
}
